@model Ticket
@{
    ViewData["Title"] = "Exam Result";
}

<div class="text-center">
    <h1>TicketId: @Model.Id</h1>
    <h1>QuestionsCount: @Model.QuestionsCount</h1>
    <h1>CorrectAnswers: @Model.CorrectCount</h1>
</div>