@{
    ViewData["Title"] = "GetQuestionId";
}
@model QuestionEntity

<div class="text-center align-items-center">
    <img src="/Images/@Model.Image" alt="Question image"/>
    
    @foreach (var choice in @Model.Choices!)
    {
        <h5>@choice.Text</h5>
    }
</div>