@model User

@{
    ViewData["Title"] = "Profile Info Page";
}

<div class="card text-center w-100 pt-3">
    <img src="Profile/@Model.Image" class="w-25" style="margin-left: auto; margin-right: auto;" alt="profile image"/>
    <div class="card-body">
        <h5 class="card-title">Profile</h5>
        
        <p class="card-text">Name: @Model?.Name</p>
        <p class="card-text">Phone: @Model?.Phone</p>

        <a class="btn btn-primary" asp-action="Edit">Edit Profile</a>
    </div>
</div>