@{
    ViewData["Title"] = "Sign in Page";
}

<h1 class="text-center">Tizimga kirish</h1>

<div class="d-flex justify-content-center">
    <form asp-controller="Users" asp-action="SigninPost" class="mb-3 w-50" method="post">
        <label for="PhoneNumber" class="form-label">Phone Number</label>
        <input class="form-control" type="text" id="PhoneNumber" name="Phone" placeholder="Phone Number" /> <br />

        <label for="Password" class="form-label">Password</label>
        <input class="form-control" type="password" id="Password" name="Password" placeholder="Password" /> <br />

        <input class="form-control btn-primary" type="submit" value="Sign in" />
        
        <a asp-action="SignUp" class="form-control btn-primary text-center mt-2">Sign up</a>
    </form>
</div>

<style>
    a {
        text-decoration: none;
    }
</style>